.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  background: whitesmoke;
  z-index: 100;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  font-size: 14px;
  white-space: nowrap;
}

.nav-links a {
  margin-left: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.main-content {
  padding-top: 0px;
  margin: 0;
  position: relative;
  z-index: 1;
}

